# Создать .env.template
@'
# API ключ для сервиса конвертации валют
# Получите ключ на https://apilayer.com/marketplace/exchangerates_data-api
EXCHANGE_RATE_API_KEY=your_api_key_here
'@ | Out-File -FilePath ".env.template" -Encoding utf8